<div class="p-5">
<p>This app aims to provide support materials for students in mechanical engineering</p>
<div class="alert alert-warning" role="alert">
    I am just starting this app. And have added nothing useful so far. Will add topics whenever I find time
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Strength of Materials</h5>
      <p class="card-text">Strength of materials deals with how materials react to various types of stress and strain under different loading conditions</p>
      <a routerLink="/som" class="btn btn-primary">View</a>
    </div>
</div>

</div>